.perfil-empresa-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .informacion-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .informacion-table th,
  .informacion-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .informacion-table th {
    background-color: #273746 ;
    color: white;
    position: sticky;
    top: 0; /* Para mantener el encabezado visible */
    z-index: 10; /* Para asegurar que el encabezado se mantenga sobre otras filas */
  }
  

  .input-informacion {
    padding: 10px; 
    border: 1px solid #808b96; 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  
  .btn_borrar{
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #922b21 ;
  }

  .btn_guardar{
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0b5345;
  }

  .btn_edit{
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: rgb(56, 66, 247);
  }
  
  .informacion-table tr:hover {
    background-color: #3f84e517;
  }
  
  @media (max-width: 768px) {
    .informacion-table {
      display: block;
      overflow-x: auto;
    }
  
    .informacion-table th,
    .informacion-table td {
      white-space: nowrap;
    }
  }
  


/* Roles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  
}

.roles-container {
  display: flex;
  justify-content: space-between;
}

.roles-tabla {
  flex: 1;
  margin: 10px;
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
}

.roles-header {
  text-align: center;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.roles-table {
  width: 100%;
  border-collapse: collapse;
}

.roles-row-header {
  background-color: #007bff; /* Azul claro */
  color: white;
}

.roles-th {
  padding: 10px;
  text-align: left;
}

.roles-td {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Línea separadora */
}

.roles-paragraph {
  margin: 0;
}

.roles-row:hover {
  background-color: #f1f1f1; /* Color al pasar el ratón */
}

.roles-options-cell {
  text-align: center;
}

.roles-button {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

.roles-button:hover {
  background-color: #218838; /* Verde oscuro al pasar el ratón */
}


.roles_opciones {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roles_opciones:hover {
  background-color: #eaeaea;
}

.roles_opciones:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.roles_opciones option {
  padding: 8px;
  background-color: #fff;
  color: #333;
}
