
.informacion-general {
    padding: 20px; 
  }
  
  .inf-titulo {
    margin-bottom: 20px; 
    text-align: center !important;
  }
  

  .informacion-caja {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    max-width: 800px; 
    margin: 0 auto;
  }
  
 
  .informacion-contenido {
    margin: 0; 
    line-height: 1.6; 
    color: #333; 
  }
  

  /*Aqio*/

  .informacion-agrupar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inf-titulo {
    margin-bottom: 20px;
    text-align: center !important;
    width: 100%;
  }
  
  .infcajaagrup {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
    width: 100%; /* Asegura que ocupe todo el ancho */
    max-width: 600px; /* Limita el ancho máximo */
  }
  
  .informacion-subtitulo_agrupar {
    margin-bottom: 10px; 
    color: #444; 
  }
  
  .informacion-contenido_agrupar {
    margin: 0; 
    line-height: 1.6; 
    color: #333; 
  }
  